
 <head>
    <title>Profile-page</title>
</head>

<body>
    
   <div>
       <h3><%= content.username%></h3>
   </div>

   <div>
       <h3><%= content.work%></h3>
   </div>

    <div>
        <h3><%= content.contact%></h3>
    </div>


</body>